@import '../../scss/variables';

.cart-empty {
  position: relative;
  &__title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
  }
  &__subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    opacity: 0.8;
  }
  &__img {
    margin: 0 auto 20px;
  }
  &__link {
    position: absolute;
    top: 20px;
    left: 100px;
  }
}
