@import '../../scss/variables';

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    height: 120px;
    width: 100%;
    padding: 20px 0;
    border: 1px solid #e4e7ec;
    box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
    border-radius: 6px;
  }

  &__item:hover {
    border-color: #1ea7fd50;
    transform: translate3d(0, -2px, 0);
    box-shadow: rgba(0, 0, 0, 8%) 0 3px 10px 0;
  }

  &__item-img {
    margin-right: 20px;
  }

  &__item-images {
    height: 70px;
  }

  &__item-box {
    max-width: 220px;
  }

  &__item-title {
    color: #323a4b;
    @extend %WorkSans-600;
    font-size: 16px;
    line-height: 20px;
  }

  &__item-price {
    @extend %WorkSans-300;
    color: $black;
    font-size: 16px;
    line-height: 20px;
  }
}
