$black: #101828;
$black2: #323a4b;
$black3: #1e2534;
$gray: #475467;
$gray2: #66728b;
$gray3: #6d7589;
$gray4: #576071;
$gray5: #667085;
$gray-placeholder: #797979;
$gray-footer: #969696;
$white: #ffffff;
$gray-line: #e4e7ec;
$orange: #e29578;
$blue: #4bb4ff;

%Merriweather-300 {
  font-family: 'Merriweather-Light', sans-serif;
  font-weight: 300;
}

%Merriweather-400 {
  font-family: 'Merriweather-Regular', sans-serif;
  font-weight: 400;
}

%WorkSans-300 {
  font-family: 'WorkSans-Light', sans-serif;
  font-weight: 300;
}

%WorkSans-400 {
  font-family: 'WorkSans-Regular', sans-serif;
  font-weight: 400;
}

%WorkSans-500 {
  font-family: 'WorkSans-Medium', sans-serif;
  font-weight: 500;
}

%WorkSans-600 {
  font-family: 'WorkSans-SemiBold', sans-serif;
  font-weight: 600;
}
